.form {
    &__input {
        height: 50px;
        text-align: center;
        background-color: rgba(255,255,255,0.2);
        color: $white;
        border: none;
        font-size: 14px;
        transition: background-color 0.2s ease-in;

        &::placeholder {
            color: $placeholder;
        }

        &:focus {
            background-color: rgba(255,255,255,0.25);
        }
    }

    &__privacy {
        font-size: 13px;
        color: $muted;
        text-align: center;
        line-height: 1.23;
        padding-top: 5px;

        @include mediaTablet {
            grid-row: 4 / 5;
        }
    }

    &__btn {
        height: 50px;
        padding: 12px;
        border: none;
        font-size: 16px;
        background-color: $accent;
        color: $white;
        font-weight: 700;
        text-align: center;
        transition: background-color 0.2s ease-in;

        &:hover {
            background-color: saturate($accent, 15%);
        }
    }
}